@{
    ViewData["Title"] = "Swathi Priya Annavarapu";
}
@model IEnumerable<Google.Apis.YouTube.v3.Data.VideoCategory>

<table class="table">
    <thead>
        <tr>
            <th>
                Video Categories
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Snippet.Title)
                </td>
            </tr>
        }
    </tbody>
</table>