<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ccprojectfn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c60933c6-4a29-4d60-baeb-d19ec72a7969/resourceGroups/cc_project/providers/Microsoft.Web/sites/ccprojectfn</ResourceId>
    <UserName>$ccprojectfn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ccprojectfn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>